body {
  font: 24px;
  text-decoration: none;
  font-family: Arial;
  background: #000000;
  margin: 0px;
  padding: 0px;
}


nav {
  position:fixed;  
  top:0px;
  width: 100%;
  font-family: Arial;
  font: 20px;
  position: relative;
  margin: -20px 20px 20px 0px;
  background-color: #20A216;
  background-color: #20A216;
  color: black;
   font-weight: bold;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
}

.navbar-item {
  display: inline;
}

.navbar-item a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}

.navbar-item a:hover {
  background-color: #C0A721;
}

footer {
  clear: both;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 10px;
  width: 100%;
  background-color: #20A216;
}
