body {
  font: 24px;
  font-family: Arial;
  background: #ffffff url("images/background1.jpg") no-repeat center;
  margin: 0;
  padding: 0;
}

main {
  min-height: 300px;
}

.parent {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items:center;
  flex-direction: column;
}

.add-name{
    position:relative;
    width:40%;
    height:20%;
    max-width:600px;
    min-width:300px;
    min-height:30px;
    margin: 10px auto 0 auto;
    padding:3%;
}

.name{
    width:40%;
    margin:3px auto 0 auto;
    min-width:300px;
}

.name{
    margin:0;
    padding:0;
    color: #ffffff;
    list-style: none;
    border:5px solid #CCC;
    background: rgba(40,40,40,0.75);
}

.add-score{
    display:inline-block;
    float:right;
}

#score-button{
    background-color: #F00;
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
}

#score-button a: hover{
  background: #cc7713;
}

#reset-button{
  background:  #F00;
  border-radius: none;
  color: #ffffff;
  text-align: center;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

#reset-button a: hover{
  background: #cc7713;
  text-decoration: none;
}

.leaderboard {
    position:relative;
    width:70%;
    height:100%;
    max-width:960px;
    min-width:400px;
    min-height:200px;
    max-height:600px;
    margin: 20px auto 0 auto;
    padding:10px;
}

.leaderboard h1{
    text-align: center;
    text-transform: uppercase;
    margin:20px;
    padding:0;
    color: #cc7713;
}

.content {
    position:relative;
    width:70%;
    margin:3px auto 0 auto;
    min-width:300px;

}

.content ol{
    margin:0;
    padding:0;
    list-style: none;
    border:5px solid #CCC;
    background: rgba(40,40,40,0.75);
}

.content ol li{
    position: relative;
    color:#FFF;
    font-family: helvetica;
    padding:2% 5%;
    border-bottom: 1px solid #555;
}

.content ol li:last-child{
    border-bottom:none;
}


.count{
    display:inline-block;
    float:right;
    color:#F00;
    font-weight:bold;
}

.content ol{
    border-radius: 20px;
}

.navbar-list {
  background: rgba(40,40,40,0.75);
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline;
}

.navbar-item a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: #ffffff;
}

.navbar-item a:hover {
  background-color: #C0A721;
}

footer {
  clear: both;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 20px;
  text-align: right;
  color: #ffffff;
  width: 100%;
  background-color: rgba(40,40,40,0.75);
}
