/*styling for the story pages of the game
the page will have a brick background*/
body {
    margin:0;
    padding:0;
    background-image: url("../images/oldbrickwall.jpg");
    background-size:cover;
    width: auto;
    height: auto;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 100px 20px;
  min-height: 300px;
}

/*adding shadow to hover over the action-buttons located
at the bottom of the story page*/
.action-button:hover{
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.33);
}

/*I inserted the image directly into the nav bar
since it was being a bit weird if it was in it's own
section in the html.*/
nav {
  background-image:transparent url("../images/forkedroad.jpg");
  padding-bottom: 200px;
}

/*this is the nav bar that contains an exit link
and a button that will open a help box and
it will contain an option to add a user generated
hint*/
.navbar-list {
  background: black;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 0px;
  margin-right: 15px;
}

/*removing the underline and blue text color
from the links in the nav bar.*/
.navbar-list .navbar-item a{
    text-decoration: none;
    color: orange;
}

/*I made a section for this side picture in the html
and have set it to the left of the users screen.*/
.side-picture {
  position: relative;
  left: 0px;
  top: 0px;
}

/*This is a section located inside the html under
a main tag alongside the side picture. This
section will contain the story of the game.
I made the background a rustic looking piece of paper
that repeats the image since the original is a bit small*/
.story {
  background-image: url("../images/letter.jpg");
}

/*This class is located outside main, inside the body,
and is in a div under another div class called
player-action. The action-button is under an unordered list
with a class id of actions.*/
.action-button {
  background-image:transparent url("../images/button.jpg");
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 15px;
  margin-right: 15px;
}

/*removing the underline and auto decor that comes
with links. This is the player action where the user
chooses what to do.*/
.player-action a{
  text-decoration: none;
  color: yellow;
}

/*adding a footer to all pages per request*/
footer {
  background-color: #333;
  color: white;
}

footer .copyright {
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 25px;
  font-weight: 200;
}
