/*simple css styling*/
body {
  margin:0;
  padding:0;
  /*background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  background-color:#000000;*/
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  color: silver;
}
body.main-pages {
  background:transparent url("../images/startpage.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
}
body.scene {
  background:transparent url("../images/died.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 100px 20px;
  min-height: 300px;
}

#info-button, #start-button {
  width: 220px;
  height: 64px;
  background:transparent url("../images/sword.jpg");
  background-color:#000000;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.45);
  color: orange;
  font-size: 35px;
  font-weight: 200;
  padding: 0 0 8px 0;
  margin-left: 100px;
  margin-right: 80px;
  margin-top: 150px;
  cursor: pointer;
  outline: none;
}

#start-button:hover, #info-button:hover {
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.33);
}

nav {
  margin-top: -25px;
}

.navbar-list .navbar-item {
  background-color: #999966;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-list .navbar-item a{
    text-decoration: none;
    color: orange;
}

footer {
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer .copyright {
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 25px;
  font-weight: 200;
}

#info-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.55);
}

#info-modal {
  position: fixed;
  top: 100;
  bottom: 100;
  left: 100;
  right: 100;
  background-color: blue;
}

.hidden {
  display: none;
}


.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

/*This is the styling for the story page buttons
this is to turn the buttons blue and to make them
responsive to hovering.*/
#story-button {
  background: url("../images/bluebutton.png");
  position: relative;
  top: 245px;
  bottom: 0px;
  left: -90px;
  right: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.45);
  outline: none;
  color: black;
}

#story-button:hover {
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.33);
}

.action-button {
  position: relative;
  top: 335px;
  bottom: 0px;
  left: -70px;
  right: 10px;
  background:transparent url("../images/bluebutton.png");
  display: inline-block;
  padding: 2px 5px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.45);
  outline: none;
}

/*adding shadow to hover over the action-buttons located
at the bottom of the story page*/
.action-button:hover{
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.33);
}


/*removing the underline and auto decor that comes
with links. This is the player action where the user
chooses what to do.*/
.player-action a{
  text-decoration: none;
  color: black;
}
